#wb_header {
  height: 250px;
  background: transparent none repeat scroll left center;
}
#wb_main {
  height: 2130px;
  padding: 0 0 70px 0;
  background: transparent none repeat scroll left top;
}
#wb_footer {
  height: 80px;
  background: transparent none repeat scroll left top;
}
#wb_footer {
  height: 80px;
}
body {
  background: #fcf3d2 url("../gallery/929d69d99e87503631c3e559e93d61e0.jpg") no-repeat scroll center top;
}
.wb_sbg {
  background: transparent url("../gallery/dad763187c3171ad64b3e88d1d511a44.jpg") repeat-x scroll center bottom;
}
body,
.wb_sbg {
  min-height: 1360px;
  min-width: 992px;
}
.root {
  width: 992px;
  height: 1360px;
  overflow: visible;
}
#wb_element_instance64 {
  display: block;
  z-index: 194;
  top: 10px;
  left: 498px;
  width: 484px;
  height: 40px;
  min-height: 40px;
  min-width: 484px;
}
#wb_element_instance64 ul {
  border: 1px none #000000;
  background: transparent none repeat scroll left top;
}
#wb_element_instance64,
#wb_element_instance64 ul {
  text-align: right;
}
#wb_element_instance64 li {
  margin: 10px 10px 10px 10px;
}
#wb_element_instance64 li a {
  padding: 5px 10px 5px 10px;
  border: 0 none #000000;
  text-decoration: none;
  text-transform: uppercase;
  font: normal normal 13px Georgia,serif;
  line-height: 15px;
  color: #8b4828;
  background: transparent none repeat scroll left top;
}
#wb_element_instance64 li > a:hover,
#wb_element_instance64 li > a:focus {
  border: 0 none #000000;
  text-decoration: none;
  font: normal normal 13px Georgia,serif;
  line-height: 15px;
  color: #00c2a2;
  background: transparent none no-repeat scroll center top;
}
#wb_element_instance64 li.active > a {
  border: 0 none #000000;
  text-decoration: none;
  font: normal normal 13px Georgia,serif;
  line-height: 15px;
  color: #00c292;
  background: transparent none no-repeat scroll center top;
}
#wb_element_instance65 {
  display: block;
  z-index: 182;
  top: 0;
  left: 0;
  width: 360px;
  height: 110px;
  min-height: 110px;
  min-width: 360px;
}
#wb_element_instance65 > div {
  width: 360px;
  height: 110px;
  border: 5px none #C0C0C0;
  -webkit-border-radius: 0 0 0 0;
  -moz-border-radius: 0 0 0 0;
  border-radius: 0 0 0 0;
  opacity: 0.3;
  background: transparent;
}
#wb_element_instance66 {
  display: block;
  z-index: 186;
  top: 17px;
  left: 27px;
  width: 300px;
  height: 84px;
  min-height: 84px;
  min-width: 300px;
}
#wb_element_instance67 {
  display: block;
  z-index: 180;
  top: 27px;
  left: 900px;
  width: 32px;
  height: 32px;
  min-height: 32px;
  min-width: 32px;
}
#wb_element_instance67 img {
  position: static;
  top: 0;
  left: 0;
  width: 32px;
  height: 32px;
}
#wb_element_instance68 {
  display: block;
  z-index: 181;
  top: 27px;
  left: 850px;
  width: 32px;
  height: 32px;
  min-height: 32px;
  min-width: 32px;
}
#wb_element_instance68 img {
  position: static;
  top: 0;
  left: 0;
  width: 32px;
  height: 32px;
}
#wb_element_instance69 {
  display: block;
  z-index: 182;
  top: 10px;
  left: 50px;
  width: 530px;
  height: 30px;
  min-height: 30px;
  min-width: 530px;
}
#wb_element_instance70 {
  display: block;
  z-index: 183;
  top: 10px;
  left: 670px;
  width: 110px;
  height: 24px;
  min-height: 24px;
  min-width: 110px;
}
#wb_element_instance71 {
  display: block;
  z-index: 184;
  top: 27px;
  left: 950px;
  width: 32px;
  height: 32px;
  min-height: 32px;
  min-width: 32px;
}
#wb_element_instance71 img {
  position: static;
  top: 0;
  left: 0;
  width: 32px;
  height: 32px;
}
#wb_element_instance72 {
  display: none;
  z-index: 34;
  top: 260px;
  left: 30px;
  width: 390px;
  height: 270px;
  min-height: 270px;
  min-width: 390px;
}
#wb_element_instance72 img {
  position: static;
  top: 0;
  left: 0;
  width: 390px;
  height: 270px;
}
#wb_element_instance73 {
  display: block;
  z-index: 35;
  top: 10px;
  left: 0;
  width: 370px;
  height: 67px;
  min-height: 67px;
  min-width: 370px;
}
#wb_element_instance74 {
  display: block;
  z-index: 36;
  top: 1860px;
  left: 20px;
  width: 190px;
  height: 169px;
  min-height: 169px;
  min-width: 190px;
}
#wb_element_instance75 {
  display: block;
  z-index: 39;
  top: 1860px;
  left: 220px;
  width: 760px;
  height: 270px;
  min-height: 270px;
  min-width: 760px;
}
#wb_element_instance76 {
  display: block;
  z-index: 40;
  top: 130px;
  left: 440px;
  width: 530px;
  height: 451px;
  min-height: 451px;
  min-width: 530px;
}
#wb_element_instance77 {
  display: block;
  z-index: 41;
  top: 960px;
  left: 60px;
  width: 240px;
  height: 160px;
  min-height: 160px;
  min-width: 240px;
}
#wb_element_instance77 img {
  position: static;
  top: 0;
  left: 0;
  width: 240px;
  height: 160px;
}
#wb_element_instance78 {
  display: block;
  z-index: 42;
  top: 970px;
  left: 360px;
  width: 570px;
  height: 850px;
  min-height: 850px;
  min-width: 570px;
}
#wb_element_instance79 {
  display: block;
  z-index: 43;
  top: 640px;
  left: 500px;
  width: 430px;
  height: 270px;
  min-height: 270px;
  min-width: 430px;
}
#wb_element_instance79 img {
  position: static;
  top: 0;
  left: 0;
  width: 430px;
  height: 270px;
}
#wb_element_instance80 {
  display: block;
  z-index: 44;
  top: 670px;
  left: 50px;
  width: 380px;
  height: 216px;
  min-height: 216px;
  min-width: 380px;
}
#wb_element_instance81 {
  display: block;
  z-index: 45;
  top: 1130px;
  left: 60px;
  width: 240px;
  height: 190px;
  min-height: 190px;
  min-width: 240px;
}
#wb_element_instance81 img {
  position: static;
  top: 0;
  left: 0;
  width: 240px;
  height: 190px;
}
#wb_element_instance82 {
  display: block;
  z-index: 46;
  top: 1331px;
  left: 61px;
  width: 240px;
  height: 160px;
  min-height: 160px;
  min-width: 240px;
}
#wb_element_instance82 img {
  position: static;
  top: 0;
  left: 0;
  width: 240px;
  height: 160px;
}
#wb_element_instance83 {
  display: block;
  z-index: 47;
  top: 1500px;
  left: 60px;
  width: 240px;
  height: 160px;
  min-height: 160px;
  min-width: 240px;
}
#wb_element_instance83 img {
  position: static;
  top: 0;
  left: 0;
  width: 240px;
  height: 160px;
}
#wb_element_instance84 {
  display: block;
  z-index: 48;
  top: 1670px;
  left: 60px;
  width: 240px;
  height: 160px;
  min-height: 160px;
  min-width: 240px;
}
#wb_element_instance84 img {
  position: static;
  top: 0;
  left: 0;
  width: 240px;
  height: 160px;
}
#wb_element_instance85 {
  display: block;
  z-index: 9000;
  top: 2150px;
  left: 0;
}
#wb_element_instance86 {
  display: block;
  z-index: 9999;
  top: 79px;
  left: 0;
}
@media (min-width: 768px) {
  #wb_header {
    height: 250px;
  }
  #wb_main {
    height: 2130px;
  }
  #wb_footer {
    height: 80px;
  }
  body,
  .wb_sbg {
    min-height: 2530px;
    min-width: 992px;
  }
  .root {
    width: 992px;
    height: 2530px;
    overflow: visible;
  }
  #wb_element_instance64 {
    display: block;
    top: 10px;
    left: 498px;
    width: 484px;
    height: 40px;
    min-height: 40px;
    min-width: 484px;
  }
  #wb_element_instance65 {
    display: block;
    top: 0;
    left: 0;
    width: 360px;
    height: 110px;
    min-height: 110px;
    min-width: 360px;
  }
  #wb_element_instance65 > div {
    width: 360px;
    height: 110px;
  }
  #wb_element_instance66 {
    display: block;
    top: 17px;
    left: 27px;
    width: 300px;
    height: 84px;
    min-height: 84px;
    min-width: 300px;
  }
  #wb_element_instance67 {
    display: block;
    top: 27px;
    left: 900px;
    width: 32px;
    height: 32px;
    min-height: 32px;
    min-width: 32px;
  }
  #wb_element_instance67 img {
    position: static;
    top: 0;
    left: 0;
    width: 32px;
    height: 32px;
  }
  #wb_element_instance68 {
    display: block;
    top: 27px;
    left: 850px;
    width: 32px;
    height: 32px;
    min-height: 32px;
    min-width: 32px;
  }
  #wb_element_instance68 img {
    position: static;
    top: 0;
    left: 0;
    width: 32px;
    height: 32px;
  }
  #wb_element_instance69 {
    display: block;
    top: 10px;
    left: 50px;
    width: 530px;
    height: 30px;
    min-height: 30px;
    min-width: 530px;
  }
  #wb_element_instance70 {
    display: block;
    top: 10px;
    left: 670px;
    width: 110px;
    height: 24px;
    min-height: 24px;
    min-width: 110px;
  }
  #wb_element_instance71 {
    display: block;
    top: 27px;
    left: 950px;
    width: 32px;
    height: 32px;
    min-height: 32px;
    min-width: 32px;
  }
  #wb_element_instance71 img {
    position: static;
    top: 0;
    left: 0;
    width: 32px;
    height: 32px;
  }
  #wb_element_instance72 {
    display: block;
    top: 260px;
    left: 30px;
    width: 390px;
    height: 270px;
    min-height: 270px;
    min-width: 390px;
  }
  #wb_element_instance72 img {
    position: static;
    top: 0;
    left: 0;
    width: 390px;
    height: 270px;
  }
  #wb_element_instance73 {
    display: block;
    top: 10px;
    left: 0;
    width: 370px;
    height: 67px;
    min-height: 67px;
    min-width: 370px;
  }
  #wb_element_instance74 {
    display: block;
    top: 1860px;
    left: 20px;
    width: 190px;
    height: 169px;
    min-height: 169px;
    min-width: 190px;
  }
  #wb_element_instance75 {
    display: block;
    top: 1860px;
    left: 220px;
    width: 760px;
    height: 270px;
    min-height: 270px;
    min-width: 760px;
  }
  #wb_element_instance76 {
    display: block;
    top: 130px;
    left: 440px;
    width: 530px;
    height: 451px;
    min-height: 451px;
    min-width: 530px;
  }
  #wb_element_instance77 {
    display: block;
    top: 960px;
    left: 60px;
    width: 240px;
    height: 160px;
    min-height: 160px;
    min-width: 240px;
    overflow: hidden;
  }
  #wb_element_instance77 img {
    position: relative;
    top: 0;
    left: 0;
    width: 240px;
    height: 170px;
    max-width: inherit;
  }
  #wb_element_instance78 {
    display: block;
    top: 970px;
    left: 360px;
    width: 570px;
    height: 850px;
    min-height: 850px;
    min-width: 570px;
  }
  #wb_element_instance79 {
    display: block;
    top: 640px;
    left: 500px;
    width: 430px;
    height: 270px;
    min-height: 270px;
    min-width: 430px;
  }
  #wb_element_instance79 img {
    position: static;
    top: 0;
    left: 0;
    width: 430px;
    height: 270px;
  }
  #wb_element_instance80 {
    display: block;
    top: 670px;
    left: 50px;
    width: 380px;
    height: 216px;
    min-height: 216px;
    min-width: 380px;
  }
  #wb_element_instance81 {
    display: block;
    top: 1130px;
    left: 60px;
    width: 240px;
    height: 190px;
    min-height: 190px;
    min-width: 240px;
    overflow: hidden;
  }
  #wb_element_instance81 img {
    position: relative;
    top: -10px;
    left: 0;
    width: 240px;
    height: 260px;
    max-width: inherit;
  }
  #wb_element_instance82 {
    display: block;
    top: 1331px;
    left: 61px;
    width: 240px;
    height: 160px;
    min-height: 160px;
    min-width: 240px;
  }
  #wb_element_instance82 img {
    position: static;
    top: 0;
    left: 0;
    width: 240px;
    height: 160px;
  }
  #wb_element_instance83 {
    display: block;
    top: 1500px;
    left: 60px;
    width: 240px;
    height: 160px;
    min-height: 160px;
    min-width: 240px;
    overflow: hidden;
  }
  #wb_element_instance83 img {
    position: relative;
    top: -40px;
    left: -20px;
    width: 260px;
    height: 200px;
    max-width: inherit;
  }
  #wb_element_instance84 {
    display: block;
    top: 1670px;
    left: 60px;
    width: 240px;
    height: 160px;
    min-height: 160px;
    min-width: 240px;
    overflow: hidden;
  }
  #wb_element_instance84 img {
    position: relative;
    top: -20px;
    left: 0;
    width: 240px;
    height: 190px;
    max-width: inherit;
  }
}
@media (min-width: 992px) {
  #wb_header {
    height: 250px;
  }
  #wb_main {
    height: 2130px;
  }
  #wb_footer {
    height: 80px;
  }
  body,
  .wb_sbg {
    min-height: 2530px;
    min-width: 992px;
  }
  .root {
    width: 992px;
    height: 2530px;
    overflow: visible;
  }
  #wb_element_instance64 {
    display: block;
    top: 10px;
    left: 498px;
    width: 484px;
    height: 40px;
    min-height: 40px;
    min-width: 484px;
  }
  #wb_element_instance65 {
    display: block;
    top: 0;
    left: 0;
    width: 360px;
    height: 110px;
    min-height: 110px;
    min-width: 360px;
  }
  #wb_element_instance65 > div {
    width: 360px;
    height: 110px;
  }
  #wb_element_instance66 {
    display: block;
    top: 17px;
    left: 27px;
    width: 300px;
    height: 84px;
    min-height: 84px;
    min-width: 300px;
  }
  #wb_element_instance67 {
    display: block;
    top: 27px;
    left: 900px;
    width: 32px;
    height: 32px;
    min-height: 32px;
    min-width: 32px;
  }
  #wb_element_instance67 img {
    position: static;
    top: 0;
    left: 0;
    width: 32px;
    height: 32px;
  }
  #wb_element_instance68 {
    display: block;
    top: 27px;
    left: 850px;
    width: 32px;
    height: 32px;
    min-height: 32px;
    min-width: 32px;
  }
  #wb_element_instance68 img {
    position: static;
    top: 0;
    left: 0;
    width: 32px;
    height: 32px;
  }
  #wb_element_instance69 {
    display: block;
    top: 10px;
    left: 50px;
    width: 530px;
    height: 30px;
    min-height: 30px;
    min-width: 530px;
  }
  #wb_element_instance70 {
    display: block;
    top: 10px;
    left: 670px;
    width: 110px;
    height: 24px;
    min-height: 24px;
    min-width: 110px;
  }
  #wb_element_instance71 {
    display: block;
    top: 27px;
    left: 950px;
    width: 32px;
    height: 32px;
    min-height: 32px;
    min-width: 32px;
  }
  #wb_element_instance71 img {
    position: static;
    top: 0;
    left: 0;
    width: 32px;
    height: 32px;
  }
  #wb_element_instance72 {
    display: block;
    top: 260px;
    left: 30px;
    width: 390px;
    height: 270px;
    min-height: 270px;
    min-width: 390px;
  }
  #wb_element_instance72 img {
    position: static;
    top: 0;
    left: 0;
    width: 390px;
    height: 270px;
  }
  #wb_element_instance73 {
    display: block;
    top: 10px;
    left: 0;
    width: 370px;
    height: 67px;
    min-height: 67px;
    min-width: 370px;
  }
  #wb_element_instance74 {
    display: block;
    top: 1860px;
    left: 20px;
    width: 190px;
    height: 169px;
    min-height: 169px;
    min-width: 190px;
  }
  #wb_element_instance75 {
    display: block;
    top: 1860px;
    left: 220px;
    width: 760px;
    height: 270px;
    min-height: 270px;
    min-width: 760px;
  }
  #wb_element_instance76 {
    display: block;
    top: 130px;
    left: 440px;
    width: 530px;
    height: 451px;
    min-height: 451px;
    min-width: 530px;
  }
  #wb_element_instance77 {
    display: block;
    top: 960px;
    left: 60px;
    width: 240px;
    height: 160px;
    min-height: 160px;
    min-width: 240px;
    overflow: hidden;
  }
  #wb_element_instance77 img {
    position: relative;
    top: 0;
    left: 0;
    width: 240px;
    height: 170px;
    max-width: inherit;
  }
  #wb_element_instance78 {
    display: block;
    top: 970px;
    left: 360px;
    width: 570px;
    height: 850px;
    min-height: 850px;
    min-width: 570px;
  }
  #wb_element_instance79 {
    display: block;
    top: 640px;
    left: 500px;
    width: 430px;
    height: 270px;
    min-height: 270px;
    min-width: 430px;
  }
  #wb_element_instance79 img {
    position: static;
    top: 0;
    left: 0;
    width: 430px;
    height: 270px;
  }
  #wb_element_instance80 {
    display: block;
    top: 670px;
    left: 50px;
    width: 380px;
    height: 216px;
    min-height: 216px;
    min-width: 380px;
  }
  #wb_element_instance81 {
    display: block;
    top: 1130px;
    left: 60px;
    width: 240px;
    height: 190px;
    min-height: 190px;
    min-width: 240px;
    overflow: hidden;
  }
  #wb_element_instance81 img {
    position: relative;
    top: -10px;
    left: 0;
    width: 240px;
    height: 260px;
    max-width: inherit;
  }
  #wb_element_instance82 {
    display: block;
    top: 1331px;
    left: 61px;
    width: 240px;
    height: 160px;
    min-height: 160px;
    min-width: 240px;
  }
  #wb_element_instance82 img {
    position: static;
    top: 0;
    left: 0;
    width: 240px;
    height: 160px;
  }
  #wb_element_instance83 {
    display: block;
    top: 1500px;
    left: 60px;
    width: 240px;
    height: 160px;
    min-height: 160px;
    min-width: 240px;
    overflow: hidden;
  }
  #wb_element_instance83 img {
    position: relative;
    top: -40px;
    left: -20px;
    width: 260px;
    height: 200px;
    max-width: inherit;
  }
  #wb_element_instance84 {
    display: block;
    top: 1670px;
    left: 60px;
    width: 240px;
    height: 160px;
    min-height: 160px;
    min-width: 240px;
    overflow: hidden;
  }
  #wb_element_instance84 img {
    position: relative;
    top: -20px;
    left: 0;
    width: 240px;
    height: 190px;
    max-width: inherit;
  }
}
@media (min-width: 1200px) {
  #wb_header {
    height: 250px;
  }
  #wb_main {
    height: 2130px;
  }
  #wb_footer {
    height: 80px;
  }
  body,
  .wb_sbg {
    min-height: 2530px;
    min-width: 992px;
  }
  .root {
    width: 992px;
    height: 2530px;
    overflow: visible;
  }
  #wb_element_instance64 {
    display: block;
    top: 10px;
    left: 498px;
    width: 484px;
    height: 40px;
    min-height: 40px;
    min-width: 484px;
  }
  #wb_element_instance65 {
    display: block;
    top: 0;
    left: 0;
    width: 360px;
    height: 110px;
    min-height: 110px;
    min-width: 360px;
  }
  #wb_element_instance65 > div {
    width: 360px;
    height: 110px;
  }
  #wb_element_instance66 {
    display: block;
    top: 17px;
    left: 27px;
    width: 300px;
    height: 84px;
    min-height: 84px;
    min-width: 300px;
  }
  #wb_element_instance67 {
    display: block;
    top: 27px;
    left: 900px;
    width: 32px;
    height: 32px;
    min-height: 32px;
    min-width: 32px;
  }
  #wb_element_instance67 img {
    position: static;
    top: 0;
    left: 0;
    width: 32px;
    height: 32px;
  }
  #wb_element_instance68 {
    display: block;
    top: 27px;
    left: 850px;
    width: 32px;
    height: 32px;
    min-height: 32px;
    min-width: 32px;
  }
  #wb_element_instance68 img {
    position: static;
    top: 0;
    left: 0;
    width: 32px;
    height: 32px;
  }
  #wb_element_instance69 {
    display: block;
    top: 10px;
    left: 50px;
    width: 530px;
    height: 30px;
    min-height: 30px;
    min-width: 530px;
  }
  #wb_element_instance70 {
    display: block;
    top: 10px;
    left: 670px;
    width: 110px;
    height: 24px;
    min-height: 24px;
    min-width: 110px;
  }
  #wb_element_instance71 {
    display: block;
    top: 27px;
    left: 950px;
    width: 32px;
    height: 32px;
    min-height: 32px;
    min-width: 32px;
  }
  #wb_element_instance71 img {
    position: static;
    top: 0;
    left: 0;
    width: 32px;
    height: 32px;
  }
  #wb_element_instance72 {
    display: block;
    top: 260px;
    left: 30px;
    width: 390px;
    height: 270px;
    min-height: 270px;
    min-width: 390px;
  }
  #wb_element_instance72 img {
    position: static;
    top: 0;
    left: 0;
    width: 390px;
    height: 270px;
  }
  #wb_element_instance73 {
    display: block;
    top: 10px;
    left: 0;
    width: 370px;
    height: 67px;
    min-height: 67px;
    min-width: 370px;
  }
  #wb_element_instance74 {
    display: block;
    top: 1860px;
    left: 20px;
    width: 190px;
    height: 169px;
    min-height: 169px;
    min-width: 190px;
  }
  #wb_element_instance75 {
    display: block;
    top: 1860px;
    left: 220px;
    width: 760px;
    height: 270px;
    min-height: 270px;
    min-width: 760px;
  }
  #wb_element_instance76 {
    display: block;
    top: 130px;
    left: 440px;
    width: 530px;
    height: 451px;
    min-height: 451px;
    min-width: 530px;
  }
  #wb_element_instance77 {
    display: block;
    top: 960px;
    left: 60px;
    width: 240px;
    height: 160px;
    min-height: 160px;
    min-width: 240px;
    overflow: hidden;
  }
  #wb_element_instance77 img {
    position: relative;
    top: 0;
    left: 0;
    width: 240px;
    height: 170px;
    max-width: inherit;
  }
  #wb_element_instance78 {
    display: block;
    top: 970px;
    left: 360px;
    width: 570px;
    height: 850px;
    min-height: 850px;
    min-width: 570px;
  }
  #wb_element_instance79 {
    display: block;
    top: 640px;
    left: 500px;
    width: 430px;
    height: 270px;
    min-height: 270px;
    min-width: 430px;
  }
  #wb_element_instance79 img {
    position: static;
    top: 0;
    left: 0;
    width: 430px;
    height: 270px;
  }
  #wb_element_instance80 {
    display: block;
    top: 670px;
    left: 50px;
    width: 380px;
    height: 216px;
    min-height: 216px;
    min-width: 380px;
  }
  #wb_element_instance81 {
    display: block;
    top: 1130px;
    left: 60px;
    width: 240px;
    height: 190px;
    min-height: 190px;
    min-width: 240px;
    overflow: hidden;
  }
  #wb_element_instance81 img {
    position: relative;
    top: -10px;
    left: 0;
    width: 240px;
    height: 260px;
    max-width: inherit;
  }
  #wb_element_instance82 {
    display: block;
    top: 1331px;
    left: 61px;
    width: 240px;
    height: 160px;
    min-height: 160px;
    min-width: 240px;
  }
  #wb_element_instance82 img {
    position: static;
    top: 0;
    left: 0;
    width: 240px;
    height: 160px;
  }
  #wb_element_instance83 {
    display: block;
    top: 1500px;
    left: 60px;
    width: 240px;
    height: 160px;
    min-height: 160px;
    min-width: 240px;
    overflow: hidden;
  }
  #wb_element_instance83 img {
    position: relative;
    top: -40px;
    left: -20px;
    width: 260px;
    height: 200px;
    max-width: inherit;
  }
  #wb_element_instance84 {
    display: block;
    top: 1670px;
    left: 60px;
    width: 240px;
    height: 160px;
    min-height: 160px;
    min-width: 240px;
    overflow: hidden;
  }
  #wb_element_instance84 img {
    position: relative;
    top: -20px;
    left: 0;
    width: 240px;
    height: 190px;
    max-width: inherit;
  }
}
